/* --------------------------------------------------------------------------------------------

  RESET

-------------------------------------------------------------------------------------------- */

@import "normalize";

/* --------------------------------------------------------------------------------------------

  TYPO

-------------------------------------------------------------------------------------------- */

@import "cssions/cssions";

/* Typo headers
   ========================================================================== */

h1 {
	color: #c6538c;
	font-size: 38px;
	font-size: 3.8rem;
	letter-spacing: 0.03em;
	line-height:1.2;
	margin:0 0 1em;
	text-shadow: 1px 1px 0 #4c080d;
	text-align: center;
	a {
		color: #c6538c;
	}
}

h2 {
	color:#202020;
	font-size: 36px;
	font-size: 3.4rem;
	letter-spacing: 0.04em;
	line-height:1.2;
	font-weight:normal;
}

h3 {
	color:#c6538c;
	@include font-size(26,20);
	margin:2em 0 0 0;
}

h4 {
	color:#202020;
	@include font-size(22,20);
	margin:1em 0 0 0;
}

h5 {
	color:#669999;
	@include font-size(18,20);
	margin:1em 0 0 0;
	font-weight:bold;
}


/* --------------------------------------------------------------------------------------------

  LAYOUT

-------------------------------------------------------------------------------------------- */

/* Micro Clearfix
   ========================================================================== */

.cf:before, #share-bar ul:before, #share-bar:before, .cf:after, #share-bar ul:after, #share-bar:after {
  content: " ";
  display: table;
}

.cf:after, #share-bar ul:after, #share-bar:after {
  clear: both;
}

/* Global
   ========================================================================== */

html {
	background: #F7F7F7;
}

body {
	color:#505050;
	margin: 20px 20px 50px 20px;
}

a {
	color:#669999;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

#container {
	background: #fff;
	border: 1px solid #CCCCCC;
	max-width: 600px;
	margin: 0 auto;
	padding:40px 60px 0 60px;
	text-align:center;
}

/* Lang
   ========================================================================== */

.lang {
	float:right;
	margin:-30px -40px 0 0;
	@extend %smallest;
}

/* Header
   ========================================================================== */

.chapo {
	margin:1em 0;
}

/* cta option
   ========================================================================== */

.cta-option {
	display:inline-block;
    margin: 1.5em 0.75em 0.5em;
}

 .btn-download {
	background: #c6538c;
	border: 1px solid #4c080d;
	border-radius: 4px;
	box-shadow: 0 2px 5px -2px #111111, 0 2px 5px 0 rgba(255, 255, 255, 0.3) inset;
	color: #FFFFFF;
	display: inline-block;
	@include font-size(24,20);
    margin: 0 0 10px;
    padding: 0.4em 1em;
    white-space: nowrap;
    @extend %Lato;
    span {
    	@extend %RobotoSlab;
    	@include font-size(18,24);
    }
}

.btn-download:hover {
	color: #fff;
	background: #cc6699;
	text-decoration:none;
}

.infos {
	@extend %smallest;
	margin:0;
	a {
		color:#808080;
	}
}

/* main
   ========================================================================== */

 #main {
 	@include font-size(16,20);
 	text-align:left;
 }

/* aside
   ========================================================================== */

#share-bar {
	background: #eee;
	border-top: 1px solid #DDD;
	line-height: 28px;
    margin: 50px -60px 0;
    overflow: hidden;
    padding: 15px 30px 10px 30px;
}

#share-bar ul {
	margin:0;
	padding: 0;
}

#share-bar li {
	float: left;
	list-style: none;
	margin-right: 15px;
}

#share-bar li.github {
	margin-top: 0;
}

#share-bar li.github a {
	background: transparent url("images/logo-github.png") no-repeat 0 0;
	display: block;
	height: 32px;
	text-indent: -9999em;
	width: 32px;
}

#share-bar .read-more {
	display: inline-block;
	float: right;
	@extend %smaller;
}

/* footer
   ========================================================================== */

#footer {
	max-width: 620px;
	margin: 0 auto;
	h3 {
		@include font-size(14,20);
		margin:1em 0 0 0;
	}
	p {
		margin:0;
		@extend %smallest;
	}
}


/* --------------------------------------------------------------------------------------------

  MEDIA QUERIES

-------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 720px) {
	#share-bar .read-more {
		float:none;
		margin-bottom:15px;
	}
}

@media only screen and (max-width: 600px) {
	.lang {
		margin:-30px 0 0 0;
	}
	#container {
		padding:40px 20px 0 20px;
	}
	#share-bar {
	    margin: 50px -20px 0;
	}
}

@media only screen and (max-width: 480px) {
	h1 {
		font-size: 28px;
		font-size: 2.8rem;
	}
	h2 {
		font-size: 24px;
		font-size: 2.4rem;
	}
	.chapo {
		@include font-size(16,20);
	}
	.btn-download {
		@include font-size(18,20);
	    margin: 0 0 10px;
	    padding: 0.4em 1em;
	    span {
	    	display:block;
	    }
	}
}


/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

pre {
	  white-space: pre-line;
	  white-space: pre-wrap;
	code {
		@include font-size(14,18);
	}
}

.hljs {
  display: block; padding: 0.5em;
  color: #333;
  background: #f8f8f8
}

.hljs-comment,
.hljs-template_comment,
.diff .hljs-header,
.hljs-javadoc {
  color: #998;
  font-style: italic
}

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.javascript .hljs-title,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #333;
  font-weight: bold
}

.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
  color: #099;
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.tex .hljs-formula {
  color: #d14
}

.hljs-title,
.hljs-id,
.coffeescript .hljs-params,
.scss .hljs-preprocessor {
  color: #900;
  font-weight: bold
}

.javascript .hljs-title,
.lisp .hljs-title,
.clojure .hljs-title,
.hljs-subst {
  font-weight: normal
}

.hljs-class .hljs-title,
.haskell .hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458;
  font-weight: bold
}

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal
}

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body {
  color: #008080
}

.hljs-regexp {
  color: #009926
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #990073
}

.hljs-built_in,
.lisp .hljs-title,
.clojure .hljs-built_in {
  color: #0086b3
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold
}

.hljs-deletion {
  background: #fdd
}

.hljs-addition {
  background: #dfd
}

.diff .hljs-change {
  background: #0086b3
}

.hljs-chunk {
  color: #aaa
}
