//////////////////////////////////////////////////////////////////////////////////////////
//
// CSSIONS RESET CORE
//
//////////////////////////////////////////////////////////////////////////////////////////

// Get cssions reset settings 
//////////////////////////////////////////////////////////////
@function reset-get($settings...) {
  @return cssions-map-get($cssions-reset-settings, $settings...);
}


// cssions reset normalize settings manipulation 
//////////////////////////////////////////////////////////////

// Get Setting
@function normalize-get($settings...) {
  @return cssions-map-get($cssions-normalize-settings, $settings...);
}

// Set Setting
@function normalize-set($part,$setting,$value) {
  $cssions-normalize-settings: map-merge($cssions-normalize-settings, ($setting: $value));
  $cssions-normalize-settings: map-merge($cssions-normalize-settings, ($part: $cssions-normalize-settings));
  @return true;
}

// cssions reset meyer settings manipulation 
//////////////////////////////////////////////////////////////

// Get Setting
@function meyer-get($part,$setting) {
  @return map-get(map-get($cssions-meyer-settings, $part), $setting);
}

// Set Setting
@function meyer-set($part,$setting,$value) {
  $cssions-meyer-settings: map-merge($cssions-meyer-settings, ($setting: $value));
  $cssions-meyer-settings: map-merge($cssions-meyer-settings, ($part: $cssions-meyer-settings));
  @return true;
}


// cssions reset yui3 settings manipulation 
//////////////////////////////////////////////////////////////

// Get Setting
@function yui3-get($settings...) {
  @return cssions-map-get($cssions-yui3-settings, $settings...);
}

// Set Setting
@function yui3-set($part,$setting,$value) {
  $cssions-yui3-settings: map-merge($cssions-yui3-settings, ($setting: $value));
  $cssions-yui3-settings: map-merge($cssions-yui3-settings, ($part: $cssions-yui3-settings));
  @return true;
}

// cssions reset yui3 settings manipulation 
//////////////////////////////////////////////////////////////

@function html5doctor-get($part,$setting) {
  @return map-get(map-get($cssions-html5doctor-settings, $part), $setting);
}


// cssions reset universal selector settings manipulation 
//////////////////////////////////////////////////////////////

@function universal-get($settings...) {
  @return cssions-map-get($cssions-universal-settings, $settings...);
}
