//////////////////////////////////////////////////////////////////////////////////////////
// Variables
//////////////////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////
// Initialisation
//////////////////////////////////////////////////////////////////////////////////////////

@if reset-get("reset") == universal {

	/* Reset Universal Selector
	   License: none (public domain)
	*/

	@if universal-get("margin") or 
		universal-get("padding") or 
		universal-get("border") or 
		universal-get("outline") or
		universal-get("font size") or 
		universal-get("font") or 
		universal-get("vertical align") {

		@if cssions-get("explanations", "explanations comments") { 

			@if cssions-get("explanations", "explanations lang") == fr {
				/**
				 * 1. On supprime les marges externes par défaut.
				 * 2. On supprime les marges internes par défaut.
				 * 3. On supprime les bordures indésirables.
				 * 4. On supprime le outline.
				 * 5. On définit une valeur héritable et initialise une taille par défaut pour la page.
				 * 6. Tous les éléments utilisent la même police de caractères sans casser l'héritage.
				 * 7. On harmonise le rythme vertical.
				 */ 
			}

			@else { 
				/**
				 * 1. Remove default margin.
				 * 2. Remove default padding.
				 * 3. Remove default border.
				 * 4. Remove default outline.
				 * 5. Obtain a heritable value and have a global default font size.
				 * 6. All elements use the same font face without breaking inheritance.
				 * 7. Harmonizes vertical align.
				 */
			}

		}

	}

	* {
	    @if universal-get("margin") { margin: 0; @if cssions-get("explanations", "explanations comments") { /* 1 */ } }
	    @if universal-get("padding") { padding: 0; @if cssions-get("explanations", "explanations comments") { /* 2 */ } }
	    @if universal-get("border") { border: 0; @if cssions-get("explanations", "explanations comments") { /* 3 */ } }
	    @if universal-get("outline") { outline: 0; @if cssions-get("explanations", "explanations comments") { /* 4 */ } }
	    @if universal-get("font size") { font-size: 100%; @if cssions-get("explanations", "explanations comments") { /* 5 */ } }
	    @if universal-get("font") { font: inherit; @if cssions-get("explanations", "explanations comments") { /* 6 */ } }
	    @if universal-get("vertical align") { vertical-align: baseline; @if cssions-get("explanations", "explanations comments") { /* 7 */ } }
	}

}