//////////////////////////////////////////////////////////////////////////////////////////
//
// CSSIONS TYPO : TYPOGRAPHY HELPERS
//
//////////////////////////////////////////////////////////////////////////////////////////

// 
//////////////////////////////////////////////////////////////


.bold { font-weight: 900; }
.light { font-weight: 100; }
.italic { font-style: italic; }
.smallcaps { font-variant: small-caps; }
.expanded { letter-spacing: .5em; }
.condensed { letter-spacing: -.1em; }
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }