//////////////////////////////////////////////////////////////////////////////////////////
//
// CSSIONS TYPO : ALTERNATE FONT-SIZE
//
//////////////////////////////////////////////////////////////////////////////////////////

// cssions typo alternate font-size variables placeholder
//////////////////////////////////////////////////////////////

$smallest-tag: if(typo-get("options", "placeholder"),"%smallest",".smallest");
$smaller-tag: if(typo-get("options", "placeholder"),"%smaller",".smaller");
$small-tag: if(typo-get("options", "placeholder"),"%small",".small");
$big-tag: if(typo-get("options", "placeholder"),"%big",".big");
$bigger-tag: if(typo-get("options", "placeholder"),"%bigger",".bigger");
$biggest-tag: if(typo-get("options", "placeholder"),"%biggest",".biggest");

// cssions typo alternate font-size init
//////////////////////////////////////////////////////////////

@if typo-get("options", "alternate font size") {

  /* Alternate font-size
     ========================================================================== */

  @if cssions-get("explanations comments") {
    /**
     * .
     */
  }

  #{$smallest-tag} {
    @include font-size(typo-get("base", "default font size") + typo-get("alternate font size", "smallest"), typo-get("base", "default font size"))
  }

  #{$smaller-tag} {
    @include font-size(typo-get("base", "default font size") + typo-get("alternate font size", "smaller"), typo-get("base", "default font size"))
  }

  #{$small-tag} {
    @include font-size(typo-get("base", "default font size") + typo-get("alternate font size", "small"), typo-get("base", "default font size"))
  }

  #{$big-tag} {
    @include font-size(typo-get("base", "default font size") + typo-get("alternate font size", "big"), typo-get("base", "default font size"))
  }

  #{$bigger-tag} {
    @include font-size(typo-get("base", "default font size") + typo-get("alternate font size", "bigger"), typo-get("base", "default font size"))
  }

  #{$biggest-tag} {
    @include font-size(typo-get("base", "default font size") + typo-get("alternate font size", "biggest"), typo-get("base", "default font size"))
  }

}