//////////////////////////////////////////////////////////////////////////////////////////
//
// CSSIONS RESET CONFIGURATION
//
//////////////////////////////////////////////////////////////////////////////////////////

// cssions Reset Settings
//////////////////////////////////////////////////////////////

$cssions-reset-settings: (
	"method": normalize,  // normalize;meyer;yui3;html5doctor;universal
	"tags": (
		"base":                        default,    // default;list
		"html5 block":                  default,    // default;list
		"html5 inline block":           default     // default;list
	),
	// Reset method
	"reset":                            normalize,  // normalize;meyer;yui3;html5doctor;universal;diy
	// Reset tags
	"base tags":                        "address, article, aside, blockquote, body, dd, div, dl, dt, figcaption, figure, footer, h1, h2, h3, h4, h5, h6, header, hr, li, main, nav, ol, p, pre, section, ul",    // default;list
	"html5 block tag":                  "article, aside, details, figcaption, figure, footer, header, main, nav, section, summary",    // default;list
	"html5 inline block tag":           default     // default;list
);


// Normalize Reset Settings
//////////////////////////////////////////////////////////////

$cssions-normalize-settings: (
  "base": (
    "html":                           false,       // true;true
    "reset margin":                   true        // true;true
  ),
  "html5 display definitions": (
    "block":                          true,       // true;true
    "inline block":                   true,       // true;true
    "audio":                          true,       // true;true
    "hidden template":                true        // true;true
  ),
  "links": (
    "background":                     true,       // true;true
    "outline":                        true        // true;true
  ),
  "text level semantics": (
    "abbr":                           true,       // true;true
    "b strong":                       true,       // true;true
    "dfn":                            true,       // true;true
    "h1":                             false,       // true;true
    "mark":                           true,       // true;true
    "small":                          true,       // true;true
    "sub sup":                        true        // true;true
  ),
  "embedded content": (
    "img":                            true,       // true;true
    "svg":                            false        // true;true
  ),
  "grouping content": (
    "figure":                         false,       // true;true
    "hr":                             true,       // true;true
    "pre":                            true,       // true;true
    "code kbd pre samp":              true        // true;true
  ),
  "forms": (
    "form elements reset":            false,       // true;true
    "button overflow":                false,       // true;true
    "button select text transform":   false,       // true;true
    "button appearance":              false,       // true;true
    "button input disabled":          false,       // true;true
    "button input focus inner":       false,       // true;true
    "input line height":              false,       // true;true
    "input checkbox radio":           false,       // true;true
    "input number":                   false,       // true;true
    "input search":                   false,       // true;true
    "fieldset":                       false,       // true;true
    "legend":                         false,       // true;true
    "textarea":                       false,       // true;true 
    "optgroup":                       false        // true;true 
  ),
  "tables": (
    "table":                          true,       // true;true
    "td th":                          true        // true;true
  )
);


// Eric Meyer Reset Settings
//////////////////////////////////////////////////////////////

$cssions-meyer-settings: (
  "base": (
    "margin":                         true,// true;true                      
    "padding":                        true,// true;true
    "border":                         true,// true;true
    "font size":                      true,// true;true
    "font":                           true,// true;true
    "vertical align":                 true// true;true
  ),
  "parts": (
    "html5 display block":            true,// true;true                      
    "body line height":               true,// true;true
    "lists":                          true,// true;true
    "quotations":                     true,// true;true
    "tables":                         true// true;true
  )
);


// Yui3 Reset Settings
//////////////////////////////////////////////////////////////

$cssions-yui3-settings: (
  "html": (
    "background color":               true,// value;true                     
    "color":                          true// value;true
  ),
  "base": (
    "margin":                         true,// true;true                      
    "padding":                        true// true;true
  ),
  "parts": (
    "tables":                         true,// true;true                      
    "img fieldset":                   true,// true;true
    "text semantics styles":          true,// true;true
    "lists":                          true,// true;true
    "caption th":                     true,// true;true
    "quotations":                     true,// true;true
    "headers":                        true,// true;true
    "abbr acronym":                   true,// true;true
    "sub sup":                        true,// true;true
    "form elements":                  true,// true;true
    "legend":                         true// true;true
  ),
  "yui": (
    "yui css detection stamp":        true// true;true                      
  )
);


// html5doctor Reset Settings /////////////////// 
$cssions-html5doctor-settings: (
  "base": (
    "margin":true,// true;true
    "padding":true,// true;true
    "border":true,// true;true
    "outline":true,// true;true
    "font size":true,// true;true
    "vertical align":true,// true;true
    "background":true,// true;true
  ),
  "parts": (
    "body line height":true,// true;true
    "html5 display block":true,// true;true   
    "nav lists":true,// true;true   
    "quotations":true,// true;true
    "links":true,// true;true
    "ins":true,// true;true
    "mark":true,// true;true
    "del":true,// true;true
    "abbr dfn":true,// true;true
    "tables":true,// true;true
    "hr":true,// true;true
    "input select":true,// true;true
  ),
);


// Universal Settings /////////////////// 
$cssions-universal-settings: (
  "margin":                           true,// true;true
  "padding":                          true,// true;true
  "border":                           true,// true;true
  "outline":                          true,// true;true
  "font size":                        true,// true;true
  "font":                             true,// true;true
  "vertical align":                   true,// true;true
);


// cssions Clearfix Core
//////////////////////////////////////////////////////////////

@import "cssions/modules/cssions-reset/cssions-reset-core";