//////////////////////////////////////////////////////////////////////////////////////////
//
// normalize.scss forms
//
//////////////////////////////////////////////////////////////////////////////////////////

@if normalize-get("forms", "form elements reset") or
	normalize-get("forms", "button overflow") or
	normalize-get("forms", "button select text transform") or
	normalize-get("forms", "button appearance") or
	normalize-get("forms", "button input disabled") or
	normalize-get("forms", "button input focus inner") or
	normalize-get("forms", "input line height") or
	normalize-get("forms", "input checkbox radio") or
	normalize-get("forms", "input number") or
	normalize-get("forms", "input search") or
	normalize-get("forms", "fieldset") or
	normalize-get("forms", "legend") or
	normalize-get("forms", "textarea") {

	/* Forms
	   ========================================================================== */

    @if normalize-get("options", "explanations comments") {
      /**
       * Known limitation: by default, Chrome and Safari on OS X allow very limited
       * styling of `select`, unless a `border` property is set.
       */
    }


// normalize.scss forms form elements reset
//////////////////////////////////////////////////////////////

    @if normalize-get("forms", "form elements reset") {

		@if normalize-get("options", "explanations comments") { 
			/**
			 * 1. Correct color not being inherited.
			 *    Known issue: affects color of disabled elements.
			 * 2. Correct font properties not being inherited.
			 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
			 */
		}

		button,
		input,
		optgroup,
		select,
		textarea {
			color: inherit; @if normalize-get("options", "explanations comments") { /* 1 */ }
			font: inherit; @if normalize-get("options", "explanations comments") { /* 2 */ }
			@if normalize-get("options", "legacy support for firefox") or normalize-get("options", "legacy support for safari") or normalize-get("options", "legacy support for chrome") { margin: 0; @if normalize-get("options", "explanations comments") { /* 3 */ } }
		}

    }


// normalize.scss forms button overflow
//////////////////////////////////////////////////////////////

    @if normalize-get("forms", "button overflow") {

    	@if normalize-get("options", "legacy support for ie 11") {

			@if normalize-get("options", "explanations comments") { 
				/**
				 * Address `overflow` set to `hidden` in IE 8/9/10/11.
				 */
			}

			button {
				overflow: visible;
			}

		}

    }


// normalize.scss forms button select text transform
//////////////////////////////////////////////////////////////

    @if normalize-get("forms", "button select text transform") {

    	@if normalize-get("options", "legacy support for ie 11") or normalize-get("options", "legacy support for firefox") or normalize-get("options", "legacy support for opera") {

			@if normalize-get("options", "explanations comments") { 
				/**
				 * Address inconsistent `text-transform` inheritance for `button` and `select`.
				 * All other form control elements do not inherit `text-transform` values.
				 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
				 * Correct `select` style inheritance in Firefox.
				 */
			}

			button,
			select {
				text-transform: none;
			}

		}

    }


// normalize.scss forms button appearance
//////////////////////////////////////////////////////////////

    @if normalize-get("forms", "button appearance") {

		@if normalize-get("options", "explanations comments") { 
			/**
			 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
			 *    and `video` controls.
			 * 2. Correct inability to style clickable `input` types in iOS.
			 * 3. Improve usability and consistency of cursor style between image-type
			 *    `input` and others.
			 */
		}

		button,
		html input[type="button"], 
		input[type="reset"],
		input[type="submit"] { @if normalize-get("options", "explanations comments") { /* 1 */ }
			-webkit-appearance: button; @if normalize-get("options", "explanations comments") { /* 2 */ }
			cursor: pointer; @if normalize-get("options", "explanations comments") { /* 3 */ }
		}

    }


// normalize.scss forms button input disabled
//////////////////////////////////////////////////////////////

    @if normalize-get("forms", "button input disabled") {

		@if normalize-get("options", "explanations comments") {  
			/**
			 * Re-set default cursor for disabled elements.
			 */
		}

		button[disabled],
		html input[disabled] {
			cursor: default;
		}

    }


// normalize.scss forms button input focus inner
//////////////////////////////////////////////////////////////

    @if normalize-get("forms", "button input focus inner") {

    	@if normalize-get("options", "legacy support for firefox") {

			@if normalize-get("options", "explanations comments") {  
				/**
				 * Remove inner padding and border in Firefox 4+.
				 */
			}

			button::-moz-focus-inner,
			input::-moz-focus-inner {
				border: 0;
				padding: 0;
			}

		}

    }


// normalize.scss forms input line height
//////////////////////////////////////////////////////////////

    @if normalize-get("forms", "input line height") {

    	@if normalize-get("options", "legacy support for firefox") {

			@if normalize-get("options", "explanations comments") { 
				/**
				 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
				 * the UA stylesheet.
				 */
			}

			input {
				line-height: normal;
			}

		}

    }


// normalize.scss forms input checkbox radio
//////////////////////////////////////////////////////////////

    @if normalize-get("forms", "input checkbox radio") {

    	@if normalize-get("options", "legacy support for ie 10") {

			@if normalize-get("options", "explanations comments") { 
				/**
				 * It's recommended that you don't attempt to style these elements.
				 * Firefox's implementation doesn't respect box-sizing, padding, or width.
				 *
				 * 1. Address box sizing set to `content-box` in IE 8/9/10.
				 * 2. Remove excess padding in IE 8/9/10.
				 */
			}

			input[type="checkbox"],
			input[type="radio"] {
				box-sizing: border-box; @if normalize-get("options", "explanations comments") { /* 1 */ }
				padding: 0; @if normalize-get("options", "explanations comments") { /* 2 */ }
			}

		}

    }


// normalize.scss forms input number
//////////////////////////////////////////////////////////////

    @if normalize-get("forms", "input number") {

    	@if normalize-get("options", "legacy support for chrome") {

			@if normalize-get("options", "explanations comments") {
				/**
				 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
				 * `font-size` values of the `input`, it causes the cursor style of the
				 * decrement button to change from `default` to `text`.
				 */
			}

			input[type="number"]::-webkit-inner-spin-button,
			input[type="number"]::-webkit-outer-spin-button {
				height: auto;
			}

		}

    }


// normalize.scss forms input search
//////////////////////////////////////////////////////////////

    @if normalize-get("forms", "input search") {

    	@if normalize-get("options", "legacy support for chrome") or normalize-get("options", "legacy support for safari") or normalize-get("options", "legacy support for firefox") {

			@if normalize-get("options", "explanations comments") { 
				/**
				 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
				 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
				 *    (include `-moz` to future-proof).
				 */
			}

			input[type="search"] {
				-webkit-appearance: textfield; @if normalize-get("options", "explanations comments") { /* 1 */ }
				-moz-box-sizing: content-box;
				-webkit-box-sizing: content-box; @if normalize-get("options", "explanations comments") { /* 2 */ }
				box-sizing: content-box;
			}

		}

		@if normalize-get("options", "legacy support for chrome") or normalize-get("options", "legacy support for safari") {

			@if normalize-get("options", "explanations comments") {
				/**
				 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
				 * Safari (but not Chrome) clips the cancel button when the search input has
				 * padding (and `textfield` appearance).
				 */
			}

			input[type="search"]::-webkit-search-cancel-button,
			input[type="search"]::-webkit-search-decoration {
				-webkit-appearance: none;
			}

		}

    }


// normalize.scss forms fieldset
//////////////////////////////////////////////////////////////

    @if normalize-get("forms", "fieldset") {

		@if normalize-get("options", "explanations comments") {
			/**
			 * Define consistent border, margin, and padding.
			 */
		}

		fieldset {
			border: 1px solid #c0c0c0;
			margin: 0 2px;
			padding: 0.35em 0.625em 0.75em;
		}

    }


// normalize.scss forms legend
//////////////////////////////////////////////////////////////

    @if normalize-get("forms", "legend") {

		@if normalize-get("options", "explanations comments") {
			/**
			 * 1. Correct `color` not being inherited in IE 8/9/10/11.
			 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
			 */
		}

		legend {
			@if normalize-get("options", "legacy support for ie 11") { border: 0; @if normalize-get("options", "explanations comments") { /* 1 */ } }
			padding: 0; @if normalize-get("options", "explanations comments") { /* 2 */ }
		}

    }


// normalize.scss forms textarea
//////////////////////////////////////////////////////////////

    @if normalize-get("forms", "textarea") {

    	@if normalize-get("options", "legacy support for ie 11") {

			@if normalize-get("options", "explanations comments") { 
				/**
				 * Remove default vertical scrollbar in IE 8/9/10/11.
				 */
			}

			textarea {
				overflow: auto;
			}

		}

    }


// normalize.scss forms optgroup
//////////////////////////////////////////////////////////////

    @if normalize-get("forms", "optgroup") {

		@if normalize-get("options", "explanations comments") {
			/**
			 * Don't inherit the `font-weight` (applied by a rule above).
			 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
			 */
		}

		optgroup {
			font-weight: bold;
		}

    }

}
