//////////////////////////////////////////////////////////////////////////////////////////
//
// normalize.scss base
//
//////////////////////////////////////////////////////////////////////////////////////////

@if normalize-get("html5 display definitions", "block") or
	normalize-get("html5 display definitions", "inline block") or
	normalize-get("html5 display definitions", "audio") or
	normalize-get("html5 display definitions", "hidden template") {

	/* HTML5 display definitions
	   ========================================================================== */


// normalize.scss html5 display definitions block
//////////////////////////////////////////////////////////////

	@if normalize-get("html5 display definitions", "block") {

		@if normalize-get("options", "legacy support for ie 11") or normalize-get("options", "legacy support for firefox") {

			@if normalize-get("options", "explanations comments") { 
				/**
				 * Correct `block` display not defined for any HTML5 element in IE 8/9.
				 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
				 * Correct `block` display not defined for `main` in IE 11.
				 */
			}

			article,
			aside,
			details,
			figcaption,
			figure,
			footer,
			header,
			hgroup,
			main,
			nav,
			section,
			summary {
				display: block;
			}

		}

	}


// normalize.scss html5 display definitions inline block
//////////////////////////////////////////////////////////////

	@if normalize-get("html5 display definitions", "inline block") {

		@if normalize-get("options", "explanations comments") { 
			/**
			 * 1. Correct `inline-block` display not defined in IE 8/9.
			 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
			 */
		}

		audio,
		canvas,
		progress,
		video {
			@if normalize-get("options", "legacy support for ie 9") { display: inline-block; @if normalize-get("options", "explanations comments") { /* 1 */ } }
			@if normalize-get("options", "legacy support for chrome") or normalize-get("options", "legacy support for safari") or normalize-get("options", "legacy support for opera") { vertical-align: baseline; @if normalize-get("options", "explanations comments") { /* 2 */ } }
		}

	}


// normalize.scss html5 display definitions audio
//////////////////////////////////////////////////////////////

	@if normalize-get("html5 display definitions", "audio") {

		@if normalize-get("options", "explanations comments") { 
			/**
			 * Prevent modern browsers from displaying `audio` without controls.
			 * Remove excess height in iOS 5 devices.
			 */
		}

		audio:not([controls]) {
			display: none;
			height: 0;
		}

	}


// normalize.scss html5 display definitions hidden template
//////////////////////////////////////////////////////////////

	@if normalize-get("html5 display definitions", "hidden template") {

		@if normalize-get("options", "legacy support for ie 11") or normalize-get("options", "legacy support for safari") or normalize-get("options", "legacy support for firefox") {

			@if normalize-get("options", "explanations comments") { 
				/**
				 * Address `[hidden]` styling not present in IE 8/9/10.
				 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
				 */
			}

			[hidden],
			template {
				display: none;
			}

		}

	}

}
