//////////////////////////////////////////////////////////////////////////////////////////
//
// normalize.scss : CORE
//
//////////////////////////////////////////////////////////////////////////////////////////

// normalize settings function
//////////////////////////////////////////////////////////////
@function normalize-get($keys...) {

	$length: length($keys);
	$get: map-get($normalize-settings, nth($keys, 1));

	@if $length == 1 {
		$keys: nth($keys, 1);
	}

	@if $length > 1 {
		@for $i from 2 through $length {
			@if $get type-of($get) == 'map' {
				$get: map-get($get, nth($keys, $i));
			}
		}
	}

	@return $get;

}
