//////////////////////////////////////////////////////////////////////////////////////////
//
// normalize.scss grouping content hr
//
//////////////////////////////////////////////////////////////////////////////////////////

@if normalize-get("parts", "grouping content", "hr") {

	@if normalize-get("options", "explanatory comments") { 

		@if normalize-get("options", "legacy support for ie7") {
/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 7 normalization.
 */
		}

		@else {
/**
 * Address differences between Firefox and other browsers.
 */
		}

	}

	hr {
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		height: 0;
	}

}