//////////////////////////////////////////////////////////////////////////////////////////
//
// CSSIONS CLEARFIX METHOD : MICRO CLEARFIX
//
//////////////////////////////////////////////////////////////////////////////////////////

// cssions micro clearfix placeholder
//////////////////////////////////////////////////////////////

$clearfix-tag:if(clearfix-get("placeholder"),"%#{clearfix-get('micro clearfix class name')}",".#{clearfix-get('micro clearfix class name')}");


// cssions micro clearfix initialisation
//////////////////////////////////////////////////////////////

@each $method in clearfix-get("clearfix method") {

  @if $method == micro {

    /* Micro Clearfix
       ========================================================================== */

    @if cssions-get("explanations comments") {
      /**
      * Author : Nicolas Gallagher
      * http://nicolasgallagher.com/micro-clearfix-hack/
      */

      /**
      * 1. Use ':before' to contain the top-margins of child elements.
      * 2. The space content is one way to avoid an Opera bug when the
      * contenteditable attribute is included anywhere else in the document.
      * Otherwise it causes space to appear at the top and bottom of elements
      * that are clearfixed.
      * 3. The use of 'table' rather than 'block' is only necessary if using
      * ':before' to contain the top-margins of child elements. 
      */
    }

    #{$clearfix-tag} {
      &:before, &:after { @if cssions-get("explanations comments") { /* 1 */ }
        content: " "; @if cssions-get("explanations comments") { /* 2 */ }
        display: table; @if cssions-get("explanations comments") { /* 3 */ }
      }
    }

    @if cssions-get("explanations comments") { 
      /**
       * Clearfix.
       */
    }

    #{$clearfix-tag} {
      &:after {
        clear: both;
      }
    }

    @if cssions-get("explanations comments") and cssions-get("fuck ie7") == false { 
      /**
       * Trigger HasLayout on element (IE<8).
       */
    }

    #{$clearfix-tag} {
      @include has-layout;
    }

  }

}