//////////////////////////////////////////////////////////////////////////////////////////
//
// CSSIONS CLEARFIX METHOD : CLEARFIX RELOAD
//
//////////////////////////////////////////////////////////////////////////////////////////

// cssions clearfix reload placeholder
//////////////////////////////////////////////////////////////

$clearfix-tag:if(clearfix-get("placeholder"),"%#{clearfix-get('clearfix reloaded class name')}",".#{clearfix-get('clearfix reloaded class name')}");


// cssions clearfix reload initialisation
//////////////////////////////////////////////////////////////

@each $method in clearfix-get("clearfix method") {

  @if $method == reloaded {

    /* Clearfix Reloaded
       ========================================================================== */

    @if cssions-get("explanations comments") {
      /**
      * Author : Thierry Koblentz
      * http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified/
      */
      
      /**
      * 1. Use `:before` to contain the top-margins of child elements.
      * 2. The space content is one way to avoid an Opera bug when the
      * contenteditable attribute is included anywhere else in the document.
      * Otherwise it causes space to appear at the top and bottom of elements
      * that are clearfixed.
      * 3. Pseudo-element ':before' and ':after' are 'inline' element and cannot
      * receive the 'clear' property.
      * 4. No one wants a line space messing up the end of their clean
      * container box.
      */
    }

    #{$clearfix-tag} {
      &:before, &:after { @if cssions-get("explanations comments") { /* 1 */ }
        content: " "; @if cssions-get("explanations comments") { /* 2 */ }
        display: block; @if cssions-get("explanations comments") { /* 3 */ } 
        height: 0; @if cssions-get("explanations comments") { /* 4 */ } 
        overflow: hidden; @if cssions-get("explanations comments") { /* 4 */ } 
      }
    }

    @if cssions-get("explanations comments") { 
      /**
       * Clearfix.
       */
    }

    #{$clearfix-tag} {
      &:after {
        clear: both;
      }
    }

    @if cssions-get("explanations comments") and cssions-get("fuck ie7") == false { 
      /**
       * Trigger HasLayout on element (IE<8).
       */
    }

    #{$clearfix-tag} {
      @include has-layout;
    }

  }

}

//////////////////////////////////////////////////////////////////////////////////////////