//////////////////////////////////////////////////////////////////////////////////////////
//
// CSSIONS CLEARFIX METHOD : OVERFLOW CLEARFIX
//
//////////////////////////////////////////////////////////////////////////////////////////

// cssions overflow clearfix placeholder
//////////////////////////////////////////////////////////////

$clearfix-tag:if(clearfix-get("placeholder"),"%cf-overflow",".cf-overflow");


// cssions overflow clearfix comments
//////////////////////////////////////////////////////////////
$comment-haslayout:if(cssions-get("fuck ie7"),"","* 2. Trigger HasLayout on element (IE<8).");
$comment-wraparoundcontents:if(clearfix-get("wrap around contents"),"* 3. Element must be a block to wrap around contents. Unnecessary if only using block-level elements.","");


// cssions overflow clearfix initialisation
//////////////////////////////////////////////////////////////

@each $method in clearfix-get("clearfix method") {

  @if $method == overflow {
    
    /* Overflow Clearfix
       ========================================================================== */

    @if cssions-get("explanations comments") { 
      /**
      * 1. Clearfix.
      #{$comment-haslayout}
      #{$comment-wraparoundcontents}
      */
    }

    #{$clearfix-tag} {
      overflow:hidden; @if cssions-get("explanations comments") { /* 1 */ }
      @include has-layout; @if cssions-get("explanations comments") and cssions-get("fuck ie7") == false { /* 2 */ }
      @if clearfix-get("wrap around contents") and cssions-get("has layout method") == zoom or clearfix-get("wrap around contents") and cssions-get("fuck ie7")  { display: block; } 
      @if clearfix-get("wrap around contents") and cssions-get("explanations comments") { /* 3 */ } 
    }

  }

}