//////////////////////////////////////////////////////////////////////////////////////////
//
// CSSIONS TYPO : HYPHENATION
//
//////////////////////////////////////////////////////////////////////////////////////////

// http://openweb.eu.org/articles/la-gestion-de-la-cesure-en-css
//////////////////////////////////////////////////////////////

@if typo-get("options", "hyphenation")  {

  /* Typo hyphenation
     ========================================================================== */

  @if cssions-get("explanations comments") { 

    @if cssions-get("explanations lang") == fr {
      /**
       * La propriété CSS3 "hyphens" permet d'effectuer des césures sur les textes. 
       * Elle est encore peu reconnu par les navigateurs.
       */

      /**
       * 1. Chrome ne possède pas de dictionnaire de césures, la propriété 'hyphens' 
       *    ne fonctionne donc pas. En alternative, on utilise la propriété 'word-break'
       *    que l'on initialise avec la valeur non standard "break-word".
       * 2. Safari (>5.0), Firefox for Android.
       * 3. Firefox (>5.0), iOS Safari (>4.1).
       * 4. IE (>9.0).
       * 5. Opera ne reconnait pas encore la propriété 'hyphens'.
       * 6. Un jour.
       */
    }

    @else { 
      /**
       * 1. Chrome does not have hyphenation dictionary, 'hyphens' does not work.
       *    Alternatively, the 'word-break' property is initialized with the 
       *    "break-word" non-standard value.
       * 2. Safari (>5.0), Firefox for Android.
       * 3. Firefox (>5.0), iOS Safari (>4.1).
       * 4. IE (>9.0).
       * 5. Opera don't recognize 'hyphens'.
       * 6. One day.
       */
    }

  }

  body {
    word-wrap: break-word; /* 1 */
    -webkit-hyphens: auto; /* 2 */
    -moz-hyphens: auto; /* 3 */
    -ms-hyphens: auto; /* 4 */
    -o-hyphens: auto; /* 5 */
    hyphens: auto; /* 6 */ 
  }

  @if typo-get("hyphenation", "no hyphens class")  {

    @if cssions-get("explanations comments") { 

      @if cssions-get("explanations lang") == fr {
        /**
         * Les navigateurs actuels ne gèrent pas encore les césures dans les règles de l'art. 
         * Pour les plus pointilleux, cette classe permet d'empêcher la césure.
         */
      }

      @else { 
         /**
          * Current browsers do not handle hyphens in the rules of art.
          * For more perfectionist, this class helps prevent hyphenation.
          */
      }

    }

    .no-hyphens {
      word-wrap: normal;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      -o-hyphens: none;
      hyphens: none;
    }

  }

}