//////////////////////////////////////////////////////////////////////////////////////////
//
// CSSIONS TYPO : FONT-FACE
//
//////////////////////////////////////////////////////////////////////////////////////////

/* @font-face
   ========================================================================== */

  @mixin font-face($name, $class-name, $folder-name, $svgfix-name, $font-weight:normal, $font-style:normal, $eot:true, $woff:true, $ttf:true, $svg:true, $init:null) {

    $eot-folder:if($eot,"url('fonts/#{$folder-name}.eot?#iefix') format('embedded-opentype'),",null);
    $woff-folder:if($woff,"url('fonts/#{$folder-name}.woff') format('woff'),",null);
    $ttf-folder:if($ttf,"url('fonts/#{$folder-name}.ttf') format('truetype'),",null);
    $svg-folder:if($svg,"url('fonts/#{$folder-name}.svg?##{$svgfix-name}') format('svg')",null);

    @font-face {
      font-family: $name;
      @if $eot { src: url('fonts/#{$folder-name}.eot'); }
      src: unquote($eot-folder)
           unquote($woff-folder)
           unquote($ttf-folder)
           unquote($svg-folder);
      font-weight: #{$font-weight};
      font-style: #{$font-style};
    }

    %#{$class-name} {
      font-family: quote($name);
    }

    #{$init} {
      @extend %#{$class-name};
    }

  }


@each $fontface in map-keys($cssions-fontface-settings) {
  @include font-face($fontface, fontface-get($fontface,"font class name"), fontface-get($fontface,"font folder name"), fontface-get($fontface,"font class name"), fontface-get($fontface,"font weight"), fontface-get($fontface,"font style"), fontface-get($fontface,"eot"), fontface-get($fontface,"woff"), fontface-get($fontface,"ttf"), fontface-get($fontface,"svg"), fontface-get($fontface,"init tags"));
}